.form-control.shadow{
    border-radius: 15px;
    background-color: rgba(206, 200, 200, 0.575);
}
.card.menu, img, .card.my-3{
    border-radius: 10px;
}
p{
    font-size: 10px;
    color: gray;
    text-shadow: rgba(97, 95, 95, 0.747);
}
.promos{
    border-radius: 30px;
}