body{
    background-image: linear-gradient(to bottom, white, rgb(122, 111, 111), gray, rgb(207, 202, 202));
    background-size: cover;
    background-repeat: no-repeat;
}
.form-control.shadow{
    border-radius: 15px;
    background-color: rgba(206, 200, 200, 0.575);
}
.card.menu, img, .card.my-3{
    border-radius: 30px;
}
p{
    font-size: 10px;
    color: black;
    text-shadow: rgba(97, 95, 95, 0.747);
}
.promos {
    border-radius: 30px;
}


@media (max-width: 768px){
    .form-control.shadow{
        border-radius: 15px;
        background-color: rgba(206, 200, 200, 0.575);
    }
    .card.menu, img, .card.my-3{
        border-radius: 10px;
    }
    p{
        font-size: 10px;
        color: black;
        text-shadow: rgba(97, 95, 95, 0.747);
    }
    .promos{
        border-radius: 30px;
    }
}